<div class="past-posts">
    <h3>Past Posts</h3>
    
    <ul>
        <% @posts.each do |post| %>
            <li>
                <div class="masthead">
                    <h4>
                        <a href="<%= post_path post %>"><%= post.title %></a>
                    </h4>
                    <span class="date">
                        posted <%= time_ago_in_words post.created_at %> ago
                    </span>
                </div>
            </li>
        <% end %>  
    </ul>
</div>