<%== erb :_post, locals: { post: @posts.first, abbreviated: true } %>

<ul class="previous-posts">
    <% @posts.drop(1).each do |post| %>
        <li>
            <h3><a href="<%= post_path post %>"><%= post.title %></a></h3>
            <span><%= post.created_at %></span>
        </li>
    <% end %>
</ul>