<h2>Contact</h2>

<p>
    You can reach me via email: <a href="mailto:charlie@charliesomerville.com">charlie@charliesomerville.com</a>, or Twitter: <a href="http://twitter.com/charliesome">@charliesome</a>.
</p>