<p>
    <%= %w(G'day Hi Howdy).sample %>, I'm <strong>Charlie Somerville</strong>. I'm a 21 year old <span class="ruby">Ruby</span> developer from <span class="melbourne">Melbourne, Australia</span>.
</p>

<p>
    I'm a mad scientist by day and by night. I love pushing the boundaries to see what's possible. I wrote what's possibly the only FAT filesystem driver in JavaScript, as well as a JavaScript interpreter in pure Ruby.
</p>

<p>
    I'm an active contributor to <a href="https://github.com/charliesome">open source</a> and I update my <a href="http://twitter.com/charliesome">Twitter</a> regularly. I also blog every now and then. You might like some of my posts.
</p>
