<p class="ego-vanity-hour">
    Hi, I'm <strong class="charlie">Charlie Somerville</strong>. I'm an 18 year old <span class="ruby">Ruby</span> developer from <span class="melbourne">Melbourne, Australia</span>. I also like <span class="c">C</span> and <span class="javascript">JavaScript</span>. I'm an active contributor to <a href="https://github.com/haileysome">open source</a> and I update my <a href="http://twitter.com/haileysome">Twitter</a> regularly.
</p>