<!DOCTYPE html>
<html>
<head>
    <title>
        <% if @title %>
            <%= @title %> &mdash; Charlie Somerville
        <% else %>
            Charlie Somerville
        <% end %>
    </title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css" />
    <link href="/style.css?<%= COMMIT_ID %>" rel="stylesheet" />
    <link href="http://hailey.lol/blog.rss" rel="alternate" title="Charlie Somerville's Blog" type="application/rss+xml" />
</head>
<body>
    <header>
        <h1><a href="/">charlie somerville</a></h1>
        <nav>
            <a href="/blog" class="blog">blog</a>
            <a href="/code" class="code">code</a>
        </nav>
    </header>
    <section>
      <%== yield %>
    </section>
</body>
</html>
