* {
    margin:0px;
    padding:0px;
}

body {
    font-family:"Comic Sans MS", "Open Sans";
    font-size:14px;
    color:#333333;
}

h2, h3, p {
    margin-bottom:16px;
}

p {
    line-height:24px;
}

ul {
    margin-left:24px;
}

.clear {
    clear:both;
}

.amp {
    font-family: Baskerville, Palatino, "Book Antiqua", serif;
    font-style: italic;
}

header, section {
    display:block;
    width:720px;
    margin:0px auto;
    margin-bottom:16px;
}

header {
    background-color:#f9f9f9;
    height:56px;
    line-height:56px;
    margin-top:32px;
    vertical-align:middle;
    padding-bottom:4px;
    
    h1 {
        display:block;
        float:left;
        width:280px;
        a {
            font-weight:bold;
            font-size:24px;
            display:block;
            width:248px;
            float:left;
            border-top:4px solid #eaeaea;
            color:#565656;
            text-decoration:none;
            padding:0px 16px;
        }
    }
    
    nav {
        float:right;
        width:440px;
        
        a {
            font-size:18px;
            display:block;
            float:left;
            width:110px;
            text-align:center;
            color:#333344;
            text-decoration:none;
            border-top:4px solid;
            
            @mixin menu-item($theta) {
                color:hsl($theta, 40%, 40%);
                border-top:4px solid hsl($theta, 40%, 70%);
                &:hover, &:focus {
                    color:hsl($theta, 100%, 100%);
                    box-shadow:inset 0 56px hsl($theta, 40%, 70%);
                    -webkit-transition: all 100ms ease-in-out;
                    -moz-transition: all 100ms ease-in-out;
                    -ms-transition: all 100ms ease-in-out;
                    -o-transition: all 100ms ease-in-out;
                    transition: all 100ms ease-in-out;
                }
            }
            
            &.blog   { @include menu-item(0); }
            &.code   { @include menu-item(90); }
            &.talks  { @include menu-item(180); }
            &.resume { @include menu-item(270); }
        }
    }
}

section {
    padding:0px 16px;
    width:688px;
    
    a {
        color:#5368f7;
        text-decoration:none;
        border-bottom:1px dotted;
        &:hover {
            color:#334cf5;
        }
    }
    
    .post {
        border-bottom:1px solid #efefef;
        margin-bottom:16px;
        
        .masthead {
            display:block;
            line-height:32px;
            vertical-align:bottom;
            border-bottom:1px solid #efefef;
            padding-bottom:4px;
            margin-bottom:16px;
            
            h2 {
                font-size:22px;
                float:left;
                margin-bottom:0px;
                max-width:500px;
                a {
                    color:inherit;
                    border:none;
                    &:hover {
                        color:#666677;
                    }
                }
            }
            
            span {
                float:right;
                font-size:14px;
            }
        }
    }
    
    ul.previous-posts {
        display:block;
        width:704px;
        margin-left:0px;
        
        li {
            display:block;
            float:left;
            width:336px;
            margin-right:16px;
            padding-bottom:16px;
            border-bottom:1px solid #efefef;
            margin-bottom:16px;
            h3 {
                margin-bottom:8px;
                a {
                    color:inherit;
                    border:none;
                    &:hover {
                        color:#666677;
                    }
                }
            }
        }
    }
    
    .resume, .talks, .code, .past-posts {
        ul {
            margin-left:0px;
        }
        li {
            display:block;
        }
        .masthead {
            display:block;
            height:24px;
            h4 {
                display:block;
                float:left;
                span {
                    color:#999999;
                    font-weight:normal;
                    &:before {
                        content:"\2014\0020";
                    }
                }
            }
            .tenure, .date {
                display:block;
                float:right;
            }
            ul.tags {
                display:block;
                float:right;
                margin-bottom:8px;
                li {
                    float:left;
                    display:inline;
                    list-style:none;
                    margin-left:8px;
                    margin-top:-6px;
                    padding:4px 8px;
                    color:#ffffff;
                    
                    &.ruby         { background-color:#FE6960; }
                    &.c            { background-color:#CEE9EF; color:#333333; }
                    &.javascript   { background-color:#F8F087; color:#333333; }
                    &.coffeescript { background-color:#E1B866; }
                }
            }
        }
        p {
            clear:both;
        }
        & > ul > li {
            border-bottom:1px solid #efefef;
            margin-bottom:16px;
        }
    }
    
    .past-posts {
        li {
            padding-bottom:8px;
        }
    }
    
    .highlight {
        padding:16px;
        background-color:#f9f9f9;
        border-top:4px solid #eaeaea;
        line-height:10px;
        margin-bottom:16px;
        font-size:12px;
    }
    
    code {
        padding:4px;
        background-color:#f3f3f3;
    }
    
    pre, code {
        font-family:Monaco, Consolas, "Courier New", monospace;
        font-size:12px;
    }

    img {
        max-width:100%;
    }
}
